@media screen and (max-width: 600px){
	#marggheader{
		margin: 10% auto;
		font-size: 30px;
		color: #FFFFFF;
	}
	.colorff{
		background-color:gray;
	}
	.btn{
		margin: 2%;
	}
	.cazul{
		background-color: #56A4F1;
		margin-top: 6%;	
	}
	.circbl{
		background-color: #56A4F1;
		box-shadow: 0 0 20px gray;
		width:160px;
		height:160px;
		border-radius: 100%;
		padding: 15%;
		margin: 10% 30%;
	}
	.subir{
		margin-top: -80px;
		margin-left: 42%;
	}
	iframe{
		width: 260px;
		height: 165px;
	}
	.fond{
		width: 100%;
		height: 76%;
		background-color:rgba(128, 128, 128, 0.6);
	}
	.redes{
		background-color: #27CACA;
		font-size: 400%;
		width:100px;
		height:100px;
		border-radius: 100%;
		padding: 1.7% 2.5%;
		margin:8%;
		right:100%;
	}
}
@media screen and (min-width: 920px){
	#marggheader{
		margin: 10% auto;
		font-size: 50px;
		color: #FFFFFF;
	}
	.cazul{
		background-color: #56A4F1;
		height:21%;
		
	}
	.circbl{
		background-color: #56A4F1;
		box-shadow: 0 0 20px gray;
		width:160px;
		height:160px;
		border-radius: 100%;
		padding: 22%;
		margin: 20%;
	}
	.subir{
		margin-top: -80px;
		margin-left: 47%;
	}
	.redes{
		background-color: #27CACA;
	
		font-size: 350%;
		width:100px;
		height:100px;
		border-radius: 100%;
		padding: 3.2% 5%;
		margin:2.5%;
		position: absolute;
		right:90%;
	}
	.fond{
		width: 100%;
		height: 100%;
		background-color:rgba(128, 128, 128, 0.6);
	}
}
.banner{
		background-image: url("../image/large.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 525px;
	}
.colorazul{
	color: #56A4F1;
}
.colorbl{
	color: #FFFFFF;
}
.margg{
	margin-top: 2%;
}
.margg1{
	margin: 4% 1%;
}
.icon-film:before {
  content: "\e913";
}
#lineanar{
	border: 0; 
	height:15%;
	width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray; 
}
.tamañopeq{
		width: 50%;
		height: 50px;
}
.tamñcm{
		width: 100%;
		height: 500px;
		opacity: 0.5;
}
.colorazf{
	background-color: #092C4F; 
}
.btn{
	margin: 5%;
}
.padd{
	padding: 0% 20%;
}
.paddd{
	padding: 1% 8%;
}
.post{
	top:5%;
}
.post1{
	top:40%;
}
.post2{
	top:80%;
}
span{
	font-size: 50px;
	color: #FFFFFF;
}
iframe{
	width: 100%;
	height: 315px;
}
.grow span{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
} 
.grow span:hover {
  font-size: 4em;
  color: #56A4F1;
} 
.circbl:hover{
	background-color: #FFFFFF;
}
#tami{
	font-size: 40px;
	color: #56A4F1;
}